{% extends 'base.html.twig' %}

{% block title %}Nouveau secteur d'activité{% endblock %}

{% block body %}
    <h1>Ajouter un secteur d'activité</h1>

    {{ include('sector_area/_form.html.twig') }}

    <a href="{{ path('sector_area_index') }}">retour à la liste</a>
{% endblock %}