{% extends 'base.html.twig' %}

{% block title %}Editer votre Job{% endblock %}

{% block body %}
    <div class="container">
    <h1>Editer annonce</h1>

    {{ include('job/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('job_index') }}">retour à la liste</a>

    {{ include('job/_delete_form.html.twig') }}
    </div>
{% endblock %}