{% extends 'base.html.twig' %}

{% block title %}Créer une nouvelle annonce d'emploi{% endblock %}

{% block body %}
    <div class="container">
    <h1>Créer une nouvelle annonce d'emploi</h1>

    {{ include('job/_form.html.twig') }}

    <a href="{{ path('job_index') }}">retour à la liste</a>
    </div>
{% endblock %}