{% extends 'base.html.twig' %}

{% block title %}Nouvelle location{% endblock %}

{% block body %}
    <div class="container">
        <h1>Créer une nouvelle location</h1>

        {{ include('rent/_form.html.twig') }}

        <a href="{{ path('rent_index') }}">retour à la liste</a>
    </div>
{% endblock %}