{% extends 'base.html.twig' %}

{% block title %}Publier un nouvel Article{% endblock %}

{% block body %}
    <div class="container">
    <h1>Publier un nouvel Article</h1>

    {{ include('article/_form.html.twig') }}

    <a href="{{ path('article_index') }}">retour à la liste</a>
    </div>
{% endblock %}